
body {
	/*background-image: url("assets/images/red.jpg");*/
	background-color: cadetblue; 
}

p {
	font-size: 2em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  background-color: lightyellow;
  width: 33%;
  padding-top: .5em;
}

#crystals {
	height: 150px;
	width:  550px;
}

#numberSection p {
	width: 300px; 
	background-color: lightyellow;
	margin: 0
}

.displayNumber {
	font-weight: bold;
}